.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 75px;
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: 40%;
    margin: 29px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
}


.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: #ADA996



}

.form-group input {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}